/*
* The default max-width is 61rem which does not provide nearly enough space to present code examples or larger tables
*/
.md-grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}
